<html>
    <head>
        <meta name="viewport" content="initial-scale=1.0"></head>
        <style>
            div {
                text-align:center;
                padding-top:50px;
                font-family: sans-serif;
            }
            button {
                font-size: 18px;
            }
        </style>
    <body>
        <div>Authorization complete</div>
        <div>
            <a href="homeassistant://navigate"><button type="button">Return to Home Assistant</button></a>
        </div>
    </body>
</html>
