<html>
    <head>
        <meta name="viewport" content="initial-scale=1.0"></head>
        <style>
            div {
                text-align:center;
                padding-top:50px;
                font-family: sans-serif;
            }
            button {
                font-size: 18px;
            }
            div#refresh_token {
                word-wrap: break-word;
                font-family: monospace;
                margin: 0px 20px;
            }
        </style>
    <body>
        <div class="content">Authorization complete.  Refresh token is shown below and will be copied to clipboard when you click the button.</div>
        <div class="content" id="refresh_token">{{refresh_token}}</div>
        <div>
            <a href="homeassistant://navigate"><button type="button" id="return">Return to Home Assistant</button></a>
        </div>
<script>
    document.getElementById('return').onclick = function() {
        var copyText = document.getElementById("refresh_token");
        navigator.clipboard.writeText(copyText.innerText);
    }
</script>
    </body>
</html>
