<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        body {
            font-family: sans-serif;
            text-align: center;
        }
        div.content {
            width: 100%;
            padding: 10px;
        }
        button {
            padding: 10px;
            font-size: 14px;
            width: 300px;
        }
    </style>
</head>
<body>
    <h2>Tesla HTTP Proxy add-on</h2>
    <hr>
    <div class="content">
        <a href="https://auth.tesla.com/oauth2/v3/authorize?&client_id={{client_id}}&locale=en-US&prompt=login&redirect_uri=https://{{domain}}/callback&response_type=code&scope={{scopes}}&state={{randomstate}}&nonce={{randomnonce}}" target="_blank"><button type="button">Generate OAuth token</button></a>
    </div>
    <div class="content">
        <a href="https://tesla.com/_ak/{{domain}}" target="_blank"><button type="button">Enroll public key in your vehicle</button></a>
    </div>
    <div class="content">
        <a href="https://{{domain}}/.well-known/appspecific/com.tesla.3p.public-key.pem" target="_blank"><button type="button">Test public key endpoint</button></a>
    </div>
    <div class="content">
        <a href="shutdown"><button type="button">Shutdown Flask server</button></a>
    </div>
</body>
</html>